@model IEnumerable<Capoia.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>

<partial name="_ListaProdutos" />